<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Locadora de Carros{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myglobal.css' %}">

</head>
<body>
    <header>
        <h1>Locadora de Carros</h1>
        <nav>
            <ul>
                <li><a href="{% url 'listar_veiculos' %}">Home</a></li>
                <li><a href="{% url 'criar' %}">Adicionar Veículo</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Locadora de Carros</p>
    </footer>
</body>
</html>
